@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
}
/**,*:before,*:after{*/
/*    -moz-box-sizing: border-box;*/
/*    -webkit-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*}*/
/*:focus,:active{outline: none;}*/
/*a:focus,a:active{outline: none;}*/

/*nav,footer,header,aside{display: block;}*/

html,body{
    height: 100%;
    width: 100%;
    /*line-height: 1;*/
    /*font-size: 14px;*/
    /*-ms-text-size-adjust: 100%;*/
    /*-moz-text-size-adjust: 100%;*/
    /*-webkit-text-size-adjust: 100%;*/
}
/*input,button,textarea{font-family:inherit;}*/

/*input::-ms-clear{display: none;}*/
/*button{cursor: pointer;}*/
/*button::-moz-focus-inner {padding:0;border:0;}*/
/*a, a:visited{text-decoration: none;}*/
/*a:hover{text-decoration: none;}*/
/*ul li{list-style: none;}*/
/*img{vertical-align: top;}*/

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
    background: rgb(6,44,66);
    background: linear-gradient(90deg, rgba(6,44,66,1) 0%, rgba(15,70,100,1) 10%, rgba(31,124,142,1) 50%, rgba(15,70,100,1) 90%, rgba(6,44,66,1) 100%);

}



.body{
    max-width: 1200px;
    margin: 0 auto;
    /*background-color: greenyellow;*/
}
.title1{
    margin-bottom: 30px;
    font-size: 60px;
    color: aliceblue;
}

.container{
    width:1000px;
    background-color: rgba(24, 33, 52, 0.7);
    margin: 75px auto 0 auto;
    text-align: center;
    box-shadow: 0 -5px 0 #3adbfd;
    padding-bottom: 20px;
    font-family: 'Audiowide', cursive;
}
.containerTable{
    width: 1310px;
    padding-top: 5px;
    background-color: rgba(24, 33, 52, 0.7);
    margin: 10px auto 0 auto;
    text-align: center;
    box-shadow: 0 -5px 0 #3adbfd;
    padding-bottom: 20px;
    font-family: 'Audiowide', cursive;
}

img {
    width:120px;
    height:120px;
    margin: -60px 0 30px 0;
    border: 5px solid #1a394f;
    border-radius: 50%;
    box-shadow: 0 -5px 0 #3adbfd;
    cursor: pointer;
}
.dws-submit {
    padding: 10px 20px;
    margin: 5px 0 20px 0;
    font-family: 'Audiowide', cursive;
    font-size: 15px;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
}
.dws-submit:hover{
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}


.table {
    display: table;
    border-collapse: collapse;
    overflow: auto;
    margin: 10px auto;
    width: 1200px;
    height: 1200px;
}
.row{
    display: table-row;
}
.cell{
    color: aliceblue;
    display: table-cell;
    font-size: 12px;
    cursor: pointer;
}

.land{
    /*position: relative;*/
    /*z-index: 1;*/
    border-radius: 7px;
    border: 2px solid black;
    width: 75px;
    height: 75px;
    margin-top: 1px;
    margin-left: 1px;
}
.city{
    width: 75px;
    height: 75px;
    /*position: relative;*/
    /*z-index: 3;*/
}
.City{
    background: transparent url("../img/city.png") no-repeat center center;
    background-size: contain;
}
.EnemyCity{
    background: transparent url("../img/cityEnemy.png") no-repeat center center;
    background-size: contain;
}

.unit{
    width: 75px;
    height: 75px;
    /*position: relative;*/
    /*z-index: 5;*/
}
.Archer{
    background: transparent url("../img/archery.png") no-repeat center center;
    background-size: contain;
}
.EnemyArcher{
    background: transparent url("../img/archeryEnemy.png") no-repeat center center;
    background-size: contain;
}
.ArcherVeteran{
    background: transparent url("../img/archeryVeteran.png") no-repeat center center;
    background-size: contain;
}
.EnemyArcherVeteran{
    background: transparent url("../img/archeryVeteranEnemy.png") no-repeat center center;
    background-size: contain;
}
.Colonist{
    background: transparent url("../img/colonist.png") no-repeat center center;
    background-size: contain;
}
.EnemyColonist{
    background: transparent url("../img/colonistEnemy.png") no-repeat center center;
    background-size: contain;
}
.Warrior{
    background: transparent url("../img/warrior.png") no-repeat center center;
    background-size: contain;
}
.EnemyWarrior{
    background: transparent url("../img/warriorEnemy.png") no-repeat center center;
    background-size: contain;
}
.WarriorVeteran{
    background: transparent url("../img/warriorVeteran.png") no-repeat center center;
    background-size: contain;
}
.EnemyWarriorVeteran{
    background: transparent url("../img/warriorVeteranEnemy.png") no-repeat center center;
    background-size: contain;
}


.mountain{
    background: transparent url("../img/Mountain100.jpg") no-repeat center center;
}
.grass{
    background: transparent url("../img/Grass100.jpg") no-repeat center center;
}

