<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Hello, welcome to miniCivilization</h1>
<br>
<br>
<form method="post" action="http://localhost:8080/createGame">
    <button type="submit" >Create Game</button>
</form>
<br>
<form method="post" action="http://localhost:8080/findGame">
    <button type="submit" >Find Game</button>
</form>
<br>
<br>
<div>
    <h3>
        For playing you must be registered
    </h3>
    <br>
    <br>
    <a th:href="@{/login}">Login</a>
    <br>
    <br>
    <a th:href="@{/registration}">Add new Player</a>
    <br>

</div>
</body>
</html>